<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindful</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>mindful</h1>
    <div class="loginButton">
        <form action='./login' method='GET'>
            <button type='submit'>Login</button>
            </form>
        <form action='./signup'>
            <button type='submit'>Signup</button>
        </form>
    </div>
</body>
</html>