<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindful - Home</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <h1>mindful</h1>
    <h2>Notes</h2>
  
    <section>
    <% notes.forEach(el => { %>
        <div class = "noteDisplay" data-id='<%=el._id%>'>
            <span class="note"><%= el.title %><BR>
            <%= el.body %> </span>
            <span class ='del'> Delete </span>
         </div>
    <% }) %>
        
</section>

    <form action="/notes/createNote" method='POST'>
        <input type="text" placeholder="Enter Title" name="noteTitle"><br>
        <input type="text" placeholder="Enter Note" name='noteBody'>
        <input type="submit" value="Create Note">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>